/.git
/.gitignore
/.gitlab-ci.yml
/.dockerignore
/.env
/.env.example
/.phpunit.result.cache
/.php_cs.cache

/vendor/
/node_modules/
/npm-debug.log
/yarn-error.log

/storage/app/public/
/storage/debugbar/
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/

/bootstrap/cache/

/public/storage/
/public/hot
/public/build/

Homestead.json
Homestead.yaml

.DS_Store
Thumbs.db

docker-compose.yml
docker-compose.prod.yml
Dockerfile
/deploy/
