NGINX_PORT=8080

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

RABBIT_MANAGEMENT_PORT=15672

MAILHOG_CONTAINER=mailhog
MAILHOG_PORT=1025
MAILHOG_MANAGEMENT_PORT=8025

MAIL_FROM=no-reply@example.com
TELEGRAM_API=https://api.telegram.org/bot<token>/sendMessage?chat_id=<chat_user_id_or_chat_id>
STATUS_FILE=/var/www/html/app/statuses/statuses.json