.idea/
/vendor/
/code/vendor/
.DS_Store
.AppleDouble
.LSOverride
.env
.env.docker
/php_socket
/postgres_data
/redis_data
/var/
.phpunit.cache
build/coverage
tests/_output/

/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/phpunit.xml
/.phpunit.cache/
