version: '3.8'

services:
  # Nginx service
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./_docker/nginx.conf:/etc/nginx/nginx.conf
      - ./:/var/www/html
    depends_on:
      - php
    networks:
      - app-network

  # PHP-FPM service
  php:
    build:
      context: ./_docker
      dockerfile: Dockerfile-php
    volumes:
      - ./:/var/www/html
    environment:
      - REDIS_HOST=redis
      - MONGO_HOST=mongo
      - DRIVER=${DRIVER}
    networks:
      - app-network
    depends_on:
      - redis
      - mongo

  # Redis service
  redis:
    image: redis:alpine
    volumes:
      - redis_data:/data
    networks:
      - app-network

  # MongoDB service
  mongo:
    image: mongo:latest
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
    ports:
      - "27017:27017"
    networks:
      - app-network

volumes:
  redis_data:
  mongo_data:

networks:
  app-network:
    driver: bridge