version: '3.8'

services:
  php-fpm:
    build: 
      context: .
      dockerfile: ./_docker/Dockerfile-php
    container_name: php-phpapp
    env_file: .env
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - mysql
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx-phpapp
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
      - ./_docker/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php-fpm
    networks:
      - app-network

  mysql:
    image: mysql:8.0.15
    env_file: .env
    command: 
      --init-file /init.sql
    volumes:
      - data:/var/lib/mysql
      - ./_docker/init.sql:/init.sql
    ports:
      - "3306:3306"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  data:
