version: '3.8'

services:
  php-fpm:
    image: php:8.2-fpm
    container_name: php-phpapp
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    networks:
      - zrz-network

  nginx:
    image: nginx:alpine
    container_name: nginx-phpapp
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php-fpm
    networks:
      - zrz-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-phpapp
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    networks:
      - zrz-network

networks:
  zrz-network:
    driver: bridge