# Port Configuration
NGINX_PORT=
NGROK_PORT=
RABBITMQ_MANAGEMENT_PORT=
RABBITMQ_AMQP_PORT=

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=
NGROK_AUTH=

# Ngrok Configuration
NGROK_API_URL=

# RabbitMQ Configuration
RABBITMQ_HOST=
RABBITMQ_USER=
RABBITMQ_PASSWORD=