RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_LOGIN=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_QUEUE=statements

MAILER_HOST=mailhog
MAILER_PORT=1025
MAILER_FROM=noreply@mysite.local
MAILER_FROM_NAME="Bank Statement Service"

LOG_PATH=/var/log/app/app.log
