PG_HOST=postgres
PG_PORT=5432
PG_DB=postgres
PG_USER=user
PG_PASSWORD=test123!ABC4

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_LOGIN=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_QUEUE=requests

LOG_PATH=/var/log/app/api.log

API_KEYS=test-api-key-12345,another-key-67890
