<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="tests/bootstrap.php"
        cacheDirectory="build/phpunit-cache"
        colors = "true"
>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <coverage>
        <report>
            <html outputDirectory="build/coverage"/>
        </report>
    </coverage>
</phpunit>