<!--<div class="row">-->
{% for item in cart %}

    <div class="cart-cont">
                <a href="?c=product&a=card&id={{item.id_product}}">

                    <img src="{{img_small}}{{item.img }}" class="" style="flex-grow: 3">
                </a>
                    <h5 class="card-title" style="flex-grow: 2">
                        {{item.name_product}}
                    </h5>
                    <p class="card-text" style="flex-grow: 3">
                        {{item.description}}
                    </p>
                    <p class="card-text" style="flex-grow: 1">
                       Цена: {{item.price}}
                    </p>
                    <p class="card-text" style="flex-grow: 1">
                       Количество: {{item.quantity}}
                    </p>


    </div>
{% endfor %}
<!--    </div>-->
