yc_token    = "CHANGE_ME_1"  # yc iam create-token
cloud_id    = "CHANGE_ME_2"  # yc config list
folder_id   = "CHANGE_ME_3"  # yc config list
zone        = "CHANGE_ME_4"  # yc config list

storage_access_key = "CHANGE_ME_5"  # yc iam access-key create
storage_secret_key = "CHANGE_ME_6"  # из вывода yc iam access-key create

vector_store_ids = "CHANGE_ME_7" # будет получен после создания поискового индекса(Vector Store) в Yandex AI Studio
